* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  background: linear-gradient(rgb(55, 16, 92), rgb(103, 49, 155));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(143, 86, 197);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.input-group,
.output-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.input-group label,
.output-group label {
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: white;
}

select,
input {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #dfdfdf;
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  opacity: 0.8;
  transition: 0.4s;
  font-weight: bold;
}

button:hover {
  background-color: #dfdfdf;
  color: rgb(127, 47, 202);
  opacity: 1;
}

.output-group {
  margin-top: 1.2rem;
}

#message {
  font-size: 0.9rem;
  color: #dfdfdf;
  font-weight: bold;
  margin-top: 0.7rem;
  text-align: center;
}
